.App {
  margin-top: 50px;
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.finance {
  border-bottom: 1px solid black;

  display: flex;
  align-items: center;
}

.finance__block {
  display: flex;
  text-align: center;

  gap: 75px;

  width: 400px;
  height: 50px;
}

.finance__value-2 {
  margin-left: 65px;
}

.finance__title {
  width: 48px;
}

.finance__content {
  display: flex;
  flex-direction: row;

  gap: 25px;
}

.plus {
  color: green;
}

.minus {
  color: red;
}

.finance__buttons {
  display: flex;
  align-items: center;

  gap: 10px;
}

.finance__click,
.deleted__click {
  padding: 5px 15px;
  border-radius: 10%;
  color: white;
  background-color: #61dafb;
  border: none;
}

.finance__click:hover,
.deleted__click:hover {
  cursor: pointer;
}

.deleted {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deleted__content {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.deleted__block {
  display: flex;
  flex-direction: row;
  align-items: center;
}
