.App {
  margin-top: 50px;
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block {
  border-bottom: 1px solid black;

  display: flex;
  align-items: center;
}

.finance {
  display: flex;
  text-align: center;

  gap: 75px;

  width: 400px;
  height: 50px;
}

.finance__block-2 {
  margin-left: 65px;
}

.title {
  width: 48px;
}

.content {
  display: flex;
  flex-direction: row;

  gap: 25px;
}

.plus {
  color: green;
}

.minus {
  color: red;
}

.button {
  display: flex;
  align-items: center;
}

.button__click {
  padding: 5px 15px;
  border-radius: 10%;
  color: white;
  background-color: #61dafb;
  border: none;
}

.button__click:hover {
  cursor: pointer;
}
